.newline {
  white-space: pre-wrap;
}

#portfolio h1 {
  font-size: 2rem;
}

.feature-item {
  text-align: center;
  margin-top: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.center {
  text-align: center;
}

.warning {
  color: red;
}




/*@keyframes example {
  from {
    bottom: 0px;
    height: 300px;
  }

  to {
    bottom: 500px;
    height: 800px;
  }
}*/




.scroll-img {

  width: 500px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  margin-left: 6px;
  margin-top: 8px;


}




@keyframes example {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  100% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
}

.mj-profile-pic {
  background-color: #179038;
  padding: 12px;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;

}

.card {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  height: 1500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

.card-image {
  flex: 1;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-content {
  flex: 1;
  padding: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.card-description {
  font-size: 16px;
  color: #666;
  padding: 10%;
}

@media (min-width: 576px) {
  .card {
    flex-direction: row;
    height: auto;
  }

  .card-image {
    flex: 0 0 50%;
    max-width: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }

  .card-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 16px;
  }
}

.card-freamwork {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.card-grid {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  justify-content: center;
  /* Center the grid horizontally */
  gap: 20px;
}

.card-grid-title {
  color: black !important;
  font-size: 30px !important;
  font-weight: bold !important;
  text-align: center !important;
}